<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Oracle_ODP_TEST_WindowsForms.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=DESKTOP-ORACLE:1521/orcl;PASSWORD=XSZ19930323;PERSIST SECURITY INFO=True;USER ID=&quot;C##ADAMXU&quot;"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>